/* for ipad tablet */
/* @media (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .app-title {
    color: blue;
    text-align: center;
    font-size: 75px; */
/* } */
/* } */

/* for iphone */
/* @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .styling-board {
    display: flex;
    flex-direction: row;
  }
  .app-title {
    color:pink;
    text-align: center;
    font-size: 75px;
  }
} */

@media only screen and (max-width: 500px) {
  body {
    font-size: 30px;
    color: white;
    margin: 0 auto;
  }
  .container {
    text-align: center;
    margin: 0 auto;
   
  }

  .filmtitle {
    font-size: 40px;
    display: content;
    padding: 30px;
  }

  .status {
    display: content;
    background-color: orangered;
    font-size: 25px;
  }

  .overview {
    font-size: 23px;
  }
  .board {
    margin: 0 auto;
  }

  li {
    text-align: center;
  }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  body {
    font-size: 40px;
    color: pink;
  }
}

body {
  background-color: #4b1910;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-title {
  color: #da3517;
  text-align: center;
  font-size: 75px;
  font-weight: bold;
}

.filmtitle {
  display: inline;
  padding: 50px;
  margin: 50px;
}

.styling-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.banner-item {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  list-style-type: none;
  display: inline;
  color: white;
  background-color: gray;
}

.reviews {
  margin: 0 auto;
  text-align: center;
  color: white;
}

form {
  margin: 0 auto;
  text-align: center;
}

a {
  color: white;
  margin-left: 15%;
  margin-right: 15%;
  text-decoration: none;
}

h6 {
  color: white;
}
.title-space {
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 30px;
}

.review-map {
  margin: 0 auto;
  text-align: center;
  color: white;
}

h2 {
  color: rgb(224, 20, 20);
  margin: 0 auto;
  text-align: center;
}

label {
  color: white;
  font-weight: bold;
}

.userMovie {
  margin: 0 auto;
  text-align: center;
}

button {
  text-align: center;
  vertical-align: middle;
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
  height: 30px;
  width: 40px;
  font-weight: bold;
}

ol {
  display: block;
}

.board {
  height: 250px;
  width: 75%;
  /* max-height: 250px; */
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-color: #000;
  background-position: center;
}
