body {
  background-color: #4B1910;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-title {
color: #DA3517 ;
text-align: center;
font-size: 75px;
font-weight: bold;
}

.styling-board {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}

 .banner-item {
  text-align: center;
  font-size: 30px;
  
} 


form {
  margin: 0 auto;
  text-align: center;
}

a {
  color: white;
  font-weight: bold;
  margin-left: 15%;
  margin-right: 15%;
}

h6 {
  color: white;
}

h2 {
  color: rgb(224, 20, 20);
  text-align: center
}

label {
  color: white;
  font-weight: bold;
}

.userMovie {
  margin: 0 auto;
  text-align: center;
}

button {
  text-align: center;
  vertical-align: middle;
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
  height: 30px;
  width: 40px;
  font-weight: bold;
  
}